.container{
    border-width: 1px;
    border-color: white;


}

.text{
    
    font-size: 70;
    font-style: "italic";
    font-weight: "bold";
    text-align: 'center';
    text-shadow: 0px 0px 20px green;
    margin:10px;


}
.button{
    align-self: center;
    justify-self: center;
    cursor: pointer;
    margin:2px;
}
.icon{
    align-self: center;
    justify-self: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-container{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    
}